/* navbar.module.css */
:root {
  /* variables */
  --cg-black: #244f76;
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
  --cg-lightblue: #4e7799;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 20px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 12px;
}

.logo {
  font-family: Georgia;
  font-weight: bold;
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: Georgia;
}

.navbar a:hover {
  color: var(--cg-lightblue);
  text-decoration: underline;
}

.navbar a:active {
  color: var(--cg-blue);
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: None;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
  color: var(--cg-white);
}
